
{% extends "base.html" %}
{% block content %}
  <!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Entrar</button>
  </form> -->
<form class="max-w-md mx-auto mt-12 p-8 bg-gradient-to-br from-white/90 to-blue-50 backdrop-blur-md rounded-2xl shadow-2xl" method="post">
   {% csrf_token %}
    <p class="text-3xl font-extrabold text-center text-gray-800 mb-2">Login</p>
    <p class="text-gray-500 text-center mb-8">Signup now and get full access to our app.</p>


    <div class="flex flex-col gap-6">

        <div class="relative">
            <input name="username" id="username"
                   type="email" placeholder=" " required
                   class="peer w-full p-4 pl-3 border-2 border-gray-300 rounded-xl focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-gray-800 font-medium placeholder-transparent transition-all duration-300"/>
            <label for="username"
                   class="absolute left-4 top-4 text-gray-400 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-1 peer-focus:text-blue-500 peer-focus:text-sm transition-all duration-300">
                Email
            </label>
        </div>


        <div class="relative">
            <input name="password" id="password"
                   type="password" placeholder=" " required
                   class="peer w-full p-4 pl-3 border-2 border-gray-300 rounded-xl focus:border-blue-500 focus:ring-2 focus:ring-blue-200 text-gray-800 font-medium placeholder-transparent transition-all duration-300"/>
            <label for="password"
                   class="absolute left-4 top-4 text-gray-400 text-sm peer-placeholder-shown:top-4 peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-focus:top-1 peer-focus:text-blue-500 peer-focus:text-sm transition-all duration-300">
                Password
            </label>
        </div>



</div>

    <button type="submit"
        class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-2 px-4 rounded-lg shadow-md transition-colors duration-300 mt-6">
        Entrar
    </button>

    <p class="text-center text-gray-500 text-sm mt-4">
        Already have an account?
        <a href="{% url 'registre' %}" class="text-blue-500 font-semibold hover:underline">Register</a>
    </p>

</form>


{% endblock %}

